# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\semester_winter\Operating_Systems\Homeworks\hw1-wet\Files\TrueFile\OS_Winter_2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
